body {
  margin: 0px;
  background: #eee;
}

text {
  font-family: Arial, Helvetica, sans-serif;
}

.tick text,
.title,
.axis-label {
  fill: #635f5d;
}

.title,
.axis-label {
  font-size: 2em;
}

.tick text {
  font-size: 1.2em;
}

.tick line {
  stroke: #c0c0bb;
}

.bar {
  fill: steelblue;
  stroke: rgb(82, 82, 82);
}

.tooltip {
  position: absolute;
  text-align: center;
  background: #fff;
  color: #4e4e4e;
  border: 1px solid #5c5c5c;
  pointer-events: none;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 1em;
}
